body {
    font-family: Arial, sans-serif;
    /* background-color: skyblue; */
    background-image: url(/Blue\ Simple\ Keep\ Calm\ Desktop\ Wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: transparent;
    padding: 20px;
    margin-top: 50px;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba(0,0,0,0.1),
    3px 0 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 320px;
  }
  
  h1 {
    color: white;
  }
  
  .converter {
    margin-bottom: 20px;
  }
  
  label {
    color: #fff;
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 8px;
  }
  
  button {
    background-color: #2107c6;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 60px;
  }
  
  button:hover {
    background-color: #00b3ad;
    transition: .4s;
  }
  
  .result {
    margin-top: 8px;
    font-weight: bold;
    color: white;
    
  }
  